include ../components/control/control

doctype html
html(lang="ru" dir="ltr")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="description" lang="ru" content="Range Slider Demonstration")
    meta(name="keywords" content="range, slider, demo, typescript, plugin, jquery")
    link(rel="icon" href="favicon.ico")
    link(rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png")
    link(rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png")
    link(rel="manifest" crossorigin = "use-credentials" href="slider.webmanifest")
    link(rel="mask-icon" href="safari-pinned-tab.svg" color="#5bbad5")
    meta(name="msapplication-TileColor" content="#da532c")
    meta(name="theme-color" content="#ffffff")

    title Range Slider
  body
    header.header
      img.header__logo(src="apple-touch-icon.png" alt="logo")
      h1.header__title Range Slider Demo
    main.main
      div.main__container.js-main__container
        input.main__slider.js-main__slider(
          data-min-value=`${Math.round(Math.random() * 100) * -1}`
          data-max-value=`${Math.round(Math.random() * 100)}`
          data-value-from=`${Math.round(Math.random() * 100) * -1}`
          data-value-to=`${Math.round(Math.random() * 100)}`
          data-step-size=`${Math.round(Math.random() * 10)}`
          data-is-vertical="false"
          data-has-scale="true"
          data-is-range="true"
          data-has-tooltip="true"
        )
        +control
      div.main__container.js-main__container
        input.main__slider.js-main__slider(
          data-min-value=`${Math.round(Math.random() * 100) * -1}`
          data-max-value=`${Math.round(Math.random() * 100)}`
          data-value-from=`${Math.round(Math.random() * 100) * -1}`
          data-value-to=`${Math.round(Math.random() * 100)}`
          data-step-size=`${Math.round(Math.random() * 10)}`
          data-is-vertical="true"
          data-has-scale="true"
          data-is-range="false"
          data-has-tooltip="true"
        )
        +control
      div.main__container.js-main__container
        input.main__slider.js-main__slider(
          data-min-value="0"
          data-max-value="1"
          data-value-from="0"
          data-value-to="1"
          data-step-size="1"
          data-is-vertical="false"
          data-has-scale="true"
          data-is-range="true"
          data-has-tooltip="true"
        )
        +control
      div.main__container.js-main__container
        input.main__slider.js-main__slider
        +control
      footer.footer
        img.footer__logo(src="apple-touch-icon.png" alt="logo")
