mixin control
  form
    fieldset
      legend
        h3 Control panel
      div.control
        label Scale on/off
          input(type="checkbox").control__on-scale
        label Vertical on/off
          input(type="checkbox").control__on-vertical
        label Tooltip on/off
          input(type="checkbox").control__on-tooltip
        label Range mode
          input(type="checkbox").control__on-range
        label Minimum value
          input(type="number").control__min-value
        label Maximum value
          input(type="number").control__max-value
        label Step size value
          input(type="number").control__step-size
        label Value from
          input(type="number").control__value-from
        label Value to
          input(type="number").control__value-to
        label Range value
          output(type="number").control__value-range

doctype html
html(lang="ru" dir="ltr")
  head
    meta(charset="utf-8")
    script(src="jquery.min.js")
    script(src="custom-elements-es5-adapter.js")
    script(src="webcomponents-bundle.js")
    script(src="slider.js")
    title Slider demo
  body
    div.container
      input(
        class="input-slider-plugin"
        data-min-value=`${Math.round(Math.random() * 100) * -1}`
        data-max-value=`${Math.round(Math.random() * 100)}`
        data-value-from=`${Math.round(Math.random() * 100) * -1}`
        data-value-to=`${Math.round(Math.random() * 100)}`
        data-step-size=`${Math.round(Math.random() * 10)}`
        data-on-vertical="false"
        data-on-scale="true"
        data-on-range="true"
        data-on-tooltip="true")
      +control
    div.container
      input(
        class="input-slider-plugin"
        data-min-value=`${Math.round(Math.random() * 100) * -1}`
        data-max-value=`${Math.round(Math.random() * 100)}`
        data-value-from=`${Math.round(Math.random() * 100) * -1}`
        data-value-to=`${Math.round(Math.random() * 100)}`
        data-step-size=`${Math.round(Math.random() * 10)}`
        data-on-vertical="true"
        data-on-scale="true"
        data-on-range="true"
        data-on-tooltip="true")
      +control
    div.container
      input(class="input-slider-plugin init-from-object")
      +control
    div.container
      input(class="input-slider-plugin")
      +control
